# Excercice 4 les quantiles

In [2]:
import pandas as pd
import numpy as np

In [5]:
df1=pd.read_csv(r'C:\Users\2340649\Documents\GitHub\Programmation2\dataFrame\data\taxi-distance.csv',
               header=0, names=['x']
              )
df1

         x
0     0.46
1     0.87
2     2.13
3     1.40
4     1.40
...    ...
9993  2.70
9994  4.50
9995  5.59
9996  1.54
9997  5.80

[9998 rows x 1 columns]

In [7]:
q1 = df1['x'].quantile(0.25)
q3 = df1['x'].quantile(0.75)
iqr = q3-q1 #Interquartile range
fence_low  = q1-1.5*iqr
fence_high = q3+1.5*iqr
df_out =df1.loc[(df1['x'] > fence_low) & (df1['x'] < fence_high)]
df_out

         x
0     0.46
1     0.87
2     2.13
3     1.40
4     1.40
...    ...
9993  2.70
9994  4.50
9995  5.59
9996  1.54
9997  5.80

[8778 rows x 1 columns]